[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastack = "*"
fastack-sqlmodel = "*"
fastack-migrate = "*"
psycopg2-binary = "*"
redis = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.8"
